.App{
    padding: 2rem;
}

.header{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.header__navbar{
    display: flex;
    gap: 5rem;
    border: 1px solid var(--color--secendery);
    border-radius: 2rem;
    padding: 1rem 0;
}

.header__search{
    font-size: 1.9rem;

}

.header__search-btn{
    width: 5rem;
    background-color: var(--color--primary);
    border-radius: 1rem;
    margin: 0 1rem;

}
