.App{
    padding: 2rem;
}

/*header*/

.header{
    display: flex;
    justify-content: center;
    gap: 3rem;
    transition: all 2s ease;


}


.header__navbar{
    display: flex;
    gap: 5rem;
    border: 1px solid var(--color--secendery);
    border-radius: 2.5rem;
    padding: 2rem 0;
    align-items: center;
}

.header__search{
    font-size: 1.9rem;

}

.header__search-btn{
    background-color: var(--color--primary);
    border-radius: 1rem;
    margin: 0 1rem;
    padding: 0.8rem 1.3rem;

}

.header__date{
    position: relative;
}

.DateRange{
    position: absolute;
    top: 5rem;
    right: -3rem;
}

/*modal-filter*/


.header__option{
    position: relative;
}

.Modal-filter{
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--color--white);
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 2rem 0 var(--color--secendery);
}

.modal-filter__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.2rem;

}

.modal-filter__nums{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.modal-filter__item button{
    background-color: var(--color--third);
    padding: 0.4rem 1.1rem;
    border-radius: 1rem;
}

