/*reset*/
* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

}
:root {
    --color--white: #fff;
    --color--text: #070707;
    --color--dark: rgb(16, 23, 34);
    --color--primary:#4F47E5;
    --color--secendery: #EBE9E9;
    --color--third: #F1F5F9;
    --color--fours: rgb(148 163 184);
    --color--red: #F44336;

}


body, input, textarea, button, select, p ,span, a {
    font-family: 'system-ui' , 'arial';
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
}

input, textarea , button{
    outline: none;
    border: none;
    background: none;
}

button{
    cursor: pointer;

}


a{
    text-decoration: none;
    cursor: pointer;
}

a.hover{
    color: var(--color--dark) ;
}

a.active {
    color: orange;
    font-weight: bold;
}

li,ul{
    list-style: none;

}


h1{
    color: var(--color--text);
    font-size: 4rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}

.border-r{
    border-right: 1px solid gray;
    padding: 0 1rem 0 0 ;
}